body {
  font-family: "Segoe UI", sans-serif;
  background: linear-gradient(to right, #f8f9fa, #e0e0e0);
}

.card {
  border: none;
}

input::placeholder {
  color: #bbb;
}

.btn-success {
  background-color: #28a745;
  border: none;
}

.btn-success:hover {
  background-color: #218838;
}

#taskList .list-group-item {
  border-radius: 0.75rem;
  transition: background-color 0.2s;
}

#taskList .list-group-item:hover {
  background-color: #f1f1f1;
}

.task-text.completed {
  text-decoration: line-through;
  color: #6c757d;
  font-style: italic;
}
